{{#each comments}}
    <div class="review__item">
        <div class="review__name">
            {{name}}
        </div>
        <div class="review__place">
            {{place}} {{date}}
        </div>
        <div class="review__text">
            {{comment}}
        </div>
    </div>
{{/each}}
