<div class="wrapper">
    <div class="map" id="map"></div>
    <div class="review">
        <div class="review__header">
            <div class="location">
                <div class="location__icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <p class="location__text"></p>
            </div>
            <a href="#" class="x-mark">
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="review__list">
        </div>
        <form class="form">
            <div class="form__title">
                ВАШ ОТЗЫВ
            </div>
            <input type="text" name="name" class="form__input" placeholder="Ваше имя" autocomplete="off">
            <input type="text" name="place" class="form__input" placeholder="Укажите место" autocomplete="off">
            <textarea name="message" class="form__area" placeholder="Поделитесь впечатлениями"></textarea>
            <button type="submit" class="form__btn">
                Добавить
            </button>
        </form>
    </div>
</div>