<div class="plate-wrapper">
    <div class="plate">
        <div class="plate-header">
            <h2 id="userInfo"></h2>
            <a id="closeWindow" href="#">
                <i class="material-icons">close</i>
            </a>
        </div>
        <div class="plate-inputs">
            <div class="plate-left">
                <input type="text" placeholder="Начните вводить имя друга" />
                <i class="material-icons">search</i>
            </div>
            <div class="plate-right">
                <input type="text" placeholder="Начните вводить имя друга" />
                <i class="material-icons">search</i>
            </div>
        </div>
        <div class="plate-lists">
            <div class="plate-left">
                <div class="plate-list__title">Ваши друзья</div>
                <ul class="plate-list" id="listContainer"></ul>
            </div>
            <div class="plate-right">
                <div class="plate-list__title">Друзья в списке</div>
                <ul class="plate-list">
                    <li class="plate-list__item">
                        <a href="#" class="plate-list__link">
                            <div class="plate-list__img-wrapper">
                                <img class="plate-list__img" src="http://i0.kym-cdn.com/entries/icons/square/000/007/286/star-wars.jpg">
                                <span>Ростислав Альбертович</span>
                            </div>
                            <i class="material-icons">delete</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="plate-footer">
            <button class="main-button" type="submit">
                <i class="material-icons">save</i>
                <span>Сохранить</span>
            </button>
        </div>
    </div>
</div>