<div class="plate-wrapper">
    <div class="plate">
        <div class="plate-header">
            <h2 id="userInfo"></h2>
            <a id="closeWindow" href="#">
                <i class="material-icons">close</i>
            </a>
        </div>
        <div class="plate-inputs">
            <div class="plate-left">
                <input id="inputLeft" type="text" placeholder="Начните вводить имя друга" />
                <i class="material-icons">search</i>
            </div>
            <div class="plate-right">
                <input id="inputRight" type="text" placeholder="Начните вводить имя друга" />
                <i class="material-icons">search</i>
            </div>
        </div>
        <div class="plate-lists">
            <div class="plate-left">
                <div class="plate-list__title">Ваши друзья</div>
                <ul id="leftList" class="plate-list"></ul>
            </div>
            <div class="plate-right" id="filteredList">
                <div class="plate-list__title">Друзья в списке</div>
                <ul id="rightList" class="plate-list"></ul>
            </div>
        </div>
        <div class="plate-footer">
            <button id="saveFriend" class="main-button" type="submit">
                <i class="material-icons">save</i>
                <span>Сохранить</span>
            </button>
        </div>
    </div>
</div>