<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Friends filter</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:300,400,500,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div class="wrapper main">
            <h1 class="main-title">другофильтр</h1>
            <button id="authorization" class="main-button" type="submit">
                <i class="material-icons">account_circle</i>
                <span>Авторизоваться</span>
            </button>
            <div id="error" class="main-error"></div>
        </div>
        <div class="plate-container"></div>
        <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
    </body>
</html>