{{#each items}}
    <li id="{{id}}" class="plate-list__item friend" draggable="true">
        <div class="plate-list__img-wrapper">
            <img class="plate-list__img" src="{{photo_100}}">
            <span>{{first_name}} {{last_name}}</span>
        </div>
        <i class="move-button material-icons">add</i>
    </li>
{{/each}}