{{#each friends}}
    <li class="plate-list__item">
        <a href="#" class="plate-list__link">
            <div class="plate-list__img-wrapper">
                <img class="plate-list__img" src="{{photo}}">
                <span>{{name}} {{lastName}}</span>
            </div>
            <i class="material-icons">add</i>
        </a>
    </li>
{{/each}}